* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: courier new, monospaced;
  font-size: 16px;
  text-align: center;
  background-color: #000000;
  color: #000000;
}

main {
  background-color: #FFFFFF;
  border-radius: 12px;
  border-width: 10px;
  border-style: solid;
  border-color: #00ff00;
  width: 450px;
  margin: 4rem auto; 
  overflow: hidden;
}

.container {
  width: 100%
  height: auto
  overflow: hidden;
}
.decor {
  width: 100%;
  height: auto;
  display: block;
}

.text {
  width: 80%;
  margin: 1rem 2.5rem;
}

.title {
  font-color: black;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.quote {
  font-color: #000080;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 0.25rem;
}

.quoted {
  color: black;
  font-style: italic;
}
