* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
}

main {
  background-color: #000080;
  border-radius: 12px;
  width: 450px;
  margin: 4rem auto; 
  overflow: hidden;
}
